USE [master]
GO
/****** Object:  Database [KSPEmployees]    Script Date: 17/03/2023 03:21:56 p. m. ******/
CREATE DATABASE [KSPEmployees] ON  PRIMARY 
( NAME = N'KSPEmployees', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\KSPEmployees.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KSPEmployees_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\KSPEmployees_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'KSPEmployees', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KSPEmployees].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KSPEmployees]
GO
/****** Object:  Table [dbo].[Beneficiaries]    Script Date: 17/03/2023 03:21:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiaries](
	[beneficiaryID] [int] IDENTITY(1,1) NOT NULL,
	[employeeID] [int] NOT NULL,
	[fullName] [varchar](250) NOT NULL,
	[relationship] [varchar](100) NOT NULL,
	[birthday] [datetime] NOT NULL,
	[sex] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Beneficiaries] PRIMARY KEY CLUSTERED 
(
	[beneficiaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 17/03/2023 03:21:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[employeeID] [int] IDENTITY(1,1) NOT NULL,
	[photo] [varchar](50) NULL,
	[fullName] [varchar](250) NOT NULL,
	[job] [varchar](200) NOT NULL,
	[salary] [decimal](10, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[contractDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[employeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Beneficiaries]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiaries_Employees] FOREIGN KEY([employeeID])
REFERENCES [dbo].[Employees] ([employeeID])
GO
ALTER TABLE [dbo].[Beneficiaries] CHECK CONSTRAINT [FK_Beneficiaries_Employees]
GO
USE [master]
GO
